
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'theme1';

/* You can add global styles to this file, and also import other style files */
html, body{
    font-family: Arial;
    background: map-get($colors, dark);
}

section{
    padding: 20px;
    background: map-get($colors, amber) !important;
}